@font-face {
    font-family: Time Burner;
    src: url('assets/fonts/timeburnernormal.ttf');
}

@font-face {
    font-family: Time Burner;
    src: url('assets/fonts/timeburnerbold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: FuturaPT;
    src: url('assets/fonts/FuturaPTLight.otf');
}

@font-face {
  font-family: FuturaPT;
    src: url('assets/fonts/FuturaPTLightOblique.otf');
    font-style: italic;
}

@font-face {
    font-family: AirConditioner;
    src: url('assets/fonts/brand/AirConditioner.ttf');
}

@font-face {
    font-family: ALBA;
    src: url('assets/fonts/brand/ALBA.ttf');
}

@font-face {
    font-family: Amber Shaie;
    src: url('assets/fonts/brand/AmberShaie.ttf');
}

@font-face {
    font-family: GRADGN;
    src: url('assets/fonts/brand/GRADGN.ttf');
}

@font-face {
    font-family: Park Lane NF;
    src: url('assets/fonts/brand/ParkLaneNF.ttf');
}